name: Build & Deploy Economic Times App
on: 
  push:
    branches:
      - main 
jobs:  
  build: 
    runs-on: self-hosted 

    steps: 
      - name: Checkout repository 
        uses: actions/checkout@v4 

      - name: Set up JDK 17  
        uses: actions/setup-java@v4 
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Maven
        run: |
          sudo apt-get update -y
          sudo apt-get install -y maven
          mvn -version

      - name: Build and Deploy WAR
        run: |
          echo "Building the project..."
          mvn clean package
      
      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        with:
          version: latest

      - name: Configure JFrog CLI
        run: |
           jfrog config add artifactory-server \
           --url "https://trial7uwx5b.jfrog.io" \
           --access-token "${{ secrets.JFROG_TOKEN }}" \
           --interactive=false

      - name: Upload WAR to JFrog
        run: |
          TIMESTAMP=$(date +%Y%m%d%H%M%S)
          jfrog rt upload "target/*.war" "jfrog/com/economic-times/${TIMESTAMP}/"

          echo "Copying WAR to Tomcat..."
          sudo cp target/*.war /opt/apache-tomcat-11.0.15/webapps

          echo "Restarting Tomcat..."
          sudo /opt/apache-tomcat-11.0.15/bin/shutdown.sh || true
          sudo /opt/apache-tomcat-11.0.15/bin/startup.sh
